{% extends 'layout.html' %}

{% block title %}
C++-CodeSource
{% endblock %}

{% block style %}
<style>
    .header{
        font-family: 'Open Sans', sans-serif;
        font-size: 7vw;
        text-align: center;
        color: rgb(43, 43, 43);
    }
</style>
{% endblock %}

{% block section1 %}

<div class="container">
    <h1 class="header">
        <u>
            C++ Entries
        </u>
    </h1>
    <br>
    <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
            {% for entry in cpp_ent %}
                <tr>
                    <th scope="row">{{entry.id}}</th>
                    <td>{{entry.title}}</td>
                    <td><a class="btn btn-outline-dark" href="/view/{{entry.id}}" role="button">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
<br><br><br><br><br><br><br>

{% endblock %}